body {
  background-color: #044141;
}

h1 {
  text-align: center;
  color: #E65000;
  font-size: 50px;
  font-family: sans-serif;
}

div.container {
  text-align: center;
}

div.dropdown {
  color: #E65000;
  text-align: left;
  border-style: groove;

}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
