body {
  background-color: #044141;
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: sans-serif;
}

h2 {
  color: white;
}

nav {
  margin: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 15% auto;
}

.dropdown {
  color: black;
  text-align: center;
  border: 1px solid white;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  background-color: #f9f9f9;
  position: fixed;
  overflow: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}
