body {
  background-color: #121516;
  background-image: url("/images/fortnite_bg2.jpg");
  background-size: cover;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  color: #EDEDE7;
  font-size: 60pt;
  font-family: sans-serif;
}

h2 {
  color: white;
  font-size: 24pt;
}

h3 {
  color: #EDEDE7
	font-size: 24pt;
}

nav {
  margin: 0;
}

.position {
  margin-right: 10%;
}

.stats-ul {
  color: white;
  list-style-type: none;
}

.stats-li {
  margin-top: 1%;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 15% auto;
}

form {
	margin-top: 1%;
}

.dropdown {
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
}

.nav-first-ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	padding: 14px 16px;
}

.dropdown-content {
  display: none;
  position: fixed;
  color: white;
  padding: 14px 16px;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  overflow: auto;
}

a {
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

a.active {
	background-color: #423b3d;
    color: white;
}

a:hover:not(.active) {
	background-color: #51525b;
    color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
