<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8"/>
		<title>Fort Finder</title>
		<link rel="stylesheet" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">
			<nav class="dropdown">
				<ul class="nav-first-ul">
					<li>Menu</li>
				</ul>
				<ul class="dropdown-content">
					<li><a class="active">Home</a></li>
					<li><a href="/stats">Leaderboards</a></li>
					<li><a>Games</a></li>
					<li><a>Help</a></li>
					<li><a>Contact Us</a></li>
				</ul>
			</nav>
			<header class="position">
			  <h1>Fort Finder</h1>
			</header>
			<section></section>
			<div class="text-center position">
				<form method="POST" action="/stats">
					<input type="text" name="username" value="Username"/>
					<br/><br/>
					<select name="games">
						<option value="Fortnite">Fortnite</option>
					</select>
					<select name="platform">
						<option value="psn">Playstation</option>
						<option value="xb1">Xbox</option>
						<option value="pc">PC</option>
					</select>
					<input type="submit"/>
				</form>
				<h2>Check your game stats and see your rank!</h2>
			</div>
		</div>
	</body>
</html>
