<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <title>Gamehub</title>
    <link rel="stylesheet" href="style.css"/>
  </head>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  .dropdown:hover .dropdown-content {
    display: block;
}
</style>

  <body>
    <div id="wrapper" class="container">
      <nav>
        <ul>
        </ul>
      </nav>
    <header>
      <h1>Gamehub</h1>
    </header>

<div class = "text-center">
  <form action="/stats">
    <input type="text" name="" value="Username">
  </form>

  <form action="/stats">
    <select name="games">
      <option value="Fortnite">Fortnite</option>
      <option value="PubG">PubG</option>
    </select>

  <form action="/stats">
    <select name="Platform">
      <option value="Playstation">Playstation</option>
      <option value="Xbox">Xbox</option>
      <option value="PC">PC</option>
    </select>
<br><br>
    <input type="submit">
  </form>
    <p><h2>Check your game stats and see your rank!<h2></p>
</div>
    <section>
    </section>
    <section>
    </section>
    </div>

<div class="dropdown">
    <span><h3>Menu<h3></span>
  <div class="dropdown-content">
    <p>Home</p>
    <p>Games</p>
    <p>Leaderboards</p>
    <p>Help</p>
    <p>Contact Us</p>
  </div>
</div>

  </body>
</html>
