<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8"/>
		<title>Gamehub</title>
		<link rel="stylesheet" href="css/style.css"/>
	</head>

	<body>
		<div id="wrapper" class="container">
			<nav class="dropdown">
				<ul class="nav-first-ul">
					<li>Menu</li>
				</ul>
				<ul class="dropdown-content">
					<li class="dropdown-content-list"><a>Home</a></li>
					<li><a>Leaderboards</a></li>
					<li><a>Games</a></li>
					<li><a>Help</a></li>
					<li><a>Contact Us</a></li>
				</ul>
			</nav>
			<header>
			  <h1>Gamehub</h1>
			</header>
			<section></section>
			<div class="text-center">
				<h2>Here are your stats:</h2>
        <p>Kills: {{kills}}</p>
        <p>Wins: {{wins}}</p>
			</div>
		</div>
	</body>
</html>
