<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8"/>
		<title>Gamehub</title>
		<link rel="stylesheet" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper" class="container">
			<nav class="dropdown">
				<ul class="nav-first-ul">
					<li>Menu</li>
				</ul>
				<ul class="dropdown-content">
					<li><a href="/">Home</a></li>
					<li><a class="active">Leaderboards</a></li>
					<li><a>Games</a></li>
					<li><a>Help</a></li>
					<li><a>Contact Us</a></li>
				</ul>
			</nav>
			<header class="position">
			  <h1>GameHub</h1>
			</header>
			<section></section>
      <section class="position">
        <h2>Fortnite</h2>
      </section>
      <section></section>
			<div class="text-center position">
				<h2>Here are your stats:</h2>
        <ul class="stats-ul">
          <li class="stats-li">Kills: {{kills}}</li>
          <li class="stats-li">Wins: {{wins}}</li>
          <li class="stats-li">Matches Played: {{matches}}</li>
          <li class="stats-li">Win Percentage: {{win_percentage}}</li>
          <li class="stats-li">K/D: {{k_d}}</li>
        </ul>
			</div>
		</div>
	</body>
</html>
