body {
  background-color: #044141;
}

h1 {
  text-align: center;
  color: #E65000;
  font-size: 50px;
  font-family: sans-serif;
}

div.container {
  text-align: center;
}

div.dropdown {
  color: #E65000;
  text-align: left;
  border-style: groove;

}
